/*************************************************************************
 * Your custom CSS file
 *************************************************************************/

.custom-dropdown {
  width: 240px;
}

.custom-textbox {
  width: 240px;
}

#dialog-1,
#dialog-2,
#dialog-3,
#dialog-4,
#share-dialog {
  display: none;
}

#share-url {
  width: 100%;
  -webkit-touch-callout: default !important;
  -webkit-user-select: text !important;
  -khtml-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}

#share-url-copy-prompt {
  display: none;
  color: #007bff;
}


/* ################################################ */
/* Cookie Banner overlay */.dialog-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

dialog {
  z-index: 10;
  background: transparent;
  border: none;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.cookie-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f8f8f8;
  color: #333;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
  max-width: 400px; /* Set the maximum width */
  width: 100%;
}

.cookie-buttons {
  display: flex;
  justify-content: space-between; /* Distribute space evenly between buttons */
  width: 100%; /* Make sure buttons take up full width */
}

.cookie-button {
  flex: 1; /* Equal width for both buttons */
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.accept-button {
  background-color: #0c7518;
  color: #fff;
}

.decline-button {
  background-color: #d9534f;
  color: #fff;
}

.grey-design .cookie-button {
  background-color: grey;
  color: white;
}


.cookie-text {
  text-align: center;
  margin: 10px 0;
}

.cookie-link {
  color: #3e3e3e;
  text-decoration: underline;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}




/* ################################################ */


.menu-index {
  color: rgb(255, 255, 255) !important;
  opacity: 1 !important;
  font-weight: 700 !important;
}
/* Define the button style */
.button {
  display: inline-block;
  padding: 15px; /* Adjust padding for the height of the button */
  background-color: #444; /* Slightly lighter grey background color */
  color: white; /* White text color */
  text-decoration: none;
  border: none;
  border-radius: 8px; /* Optional: rounded corners */
  font-size: 18px; /* Increase font size for larger text */
  transition: background-color 0.3s; /* Add a smooth transition for the background color change */
  font-family: 'PT-serif', sans-serif; /* Replace with your preferred font */
}

/* Change the background color on hover */
.button:hover {
  background-color: #666; /* Even lighter grey on hover */
}

.small-button {
  display: inline;
  padding: 10px 20px;
  background-color: #6a6b6d;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 30px;
}









