/*************************************************************************
 * Your custom CSS file
 *************************************************************************/

.custom-dropdown {
  width: 240px;
}

.custom-textbox {
  width: 240px;
}

#dialog-1,
#dialog-2,
#dialog-3,
#dialog-4,
#share-dialog {
  display: none;
}

#share-url {
  width: 100%;
  -webkit-touch-callout: default !important;
  -webkit-user-select: text !important;
  -khtml-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}

#share-url-copy-prompt {
  display: none;
  color: #007bff;
}


/* ################################################ */
/* Cookie Banner overlay */

dialog {
  z-index: 10;
  margin-top: 250px;
  background: darkgrey;
  border: none;
  border-radius: 1rem;
}

dialog::backdrop {
  background-color: hsla(240, 1%, 23%, 0.742);
}

.cookie-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  justify-content: center; 
}

.cookie-button {
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
}

.accept-button {
  background-color: green;
  color: white;
}

.decline-button {
  background-color: red;
  color: white;
}

.grey-design .cookie-button {
  background-color: grey;
  color: white;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #000;
  cursor: pointer;
}




/* ################################################ */


.menu-index {
  color: rgb(255, 255, 255) !important;
  opacity: 1 !important;
  font-weight: 700 !important;
}
/* Define the button style */
.button {
  display: inline-block;
  padding: 15px; /* Adjust padding for the height of the button */
  background-color: #444; /* Slightly lighter grey background color */
  color: white; /* White text color */
  text-decoration: none;
  border: none;
  border-radius: 8px; /* Optional: rounded corners */
  font-size: 18px; /* Increase font size for larger text */
  transition: background-color 0.3s; /* Add a smooth transition for the background color change */
  font-family: 'PT-serif', sans-serif; /* Replace with your preferred font */
}

/* Change the background color on hover */
.button:hover {
  background-color: #666; /* Even lighter grey on hover */
}

.small-button {
  display: inline;
  padding: 10px 20px;
  background-color: #6a6b6d;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 30px;
}









